Repository frangian/Digital_Booking_Proyecto_Integrador_Digital_House: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build -back, deploy -back, build -front, deploy -front

.gitlab-ci.yml:

stages:
  - build
  # - test
  - deploy

build -back:
  stage: build
  image: maven:latest
  script:
    - echo "Building app..."
    - cd back-end/
    - mvn clean install
    - echo "Finished building app."
  artifacts:
    expire_in: 1 hour
    paths:
      - back-end/target/*.jar
  rules:
    - if: '$CI_COMMIT_BRANCH == "desarrollo"'
      changes:
        - back-end/**/*

# automated-api-tests -back:
#   stage: test
#   image: cimg/base:2021.04
#   before_script:
#     # Installing Postman CLI
#     - curl -o- "https://dl-cli.pstmn.io/install/linux64.sh" | sh
#   script:
#     # Login using your Postman API keys
#     - postman login --with-api-key $POSTMAN_API_KEY
#     - postman collection run "23352616-97f36139-a037-4e64-b813-0208a3cc418f" -e "23352616-58ccde2f-670f-400d-93c0-d4f1ec59f1c0"
#   rules:
#   - if: '$CI_COMMIT_BRANCH == "desarrollo"'
#     changes:
#       - back-end/**/*

deploy -back:
  stage: deploy
  image: ubuntu:latest
  before_script:
    - apt-get update && apt-get install -y openssh-client bash
    - mkdir -p ~/.ssh
    - eval $(ssh-agent -s)
    # - echo $SSH_PRIVATE_KEY | tr -d '\r' | ssh-add - > /dev/null
    - touch ~/.ssh/config
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
    - ssh-keyscan $DEPLOY_SERVER_IP >> ~/.ssh/known_hosts
  script:
    - echo "Deploying started..."
    - chmod 400 "$SSH_PRIVATE_KEY"
    - ssh -i "$SSH_PRIVATE_KEY" ubuntu@"$DEPLOY_SERVER_IP" "sudo systemctl stop consoleapp.service"
    - scp -i "$SSH_PRIVATE_KEY" back-end/target/consoleapp.jar ubuntu@"$DEPLOY_SERVER_IP":~/console-app/
    - ssh -i "$SSH_PRIVATE_KEY" ubuntu@"$DEPLOY_SERVER_IP" "sudo systemctl start consoleapp.service"
    - ssh -i "$SSH_PRIVATE_KEY" ubuntu@"$DEPLOY_SERVER_IP" "sudo systemctl status consoleapp.service"
    - echo "Finished deploying the app."
  rules:
    - if: '$CI_COMMIT_BRANCH == "desarrollo"'
      changes:
        - back-end/**/*

build -front:
  stage: build
  image: node:16.5.0
  script:
    - cd front-end/
    - export NODE_OPTIONS=--max_old_space_size=4096
    - npm install
    - npm run build
  artifacts:
    paths:
      - front-end/
  rules:
    - if: '$CI_COMMIT_BRANCH == "desarrollo"'
      changes:
        - front-end/**/*

# test -front:
#   stage: test
#   image: node:16.5.0
#   script:
#     - cd front-end/
#     - npm install
#     - npm run test
#   rules:
#   - if: '$CI_COMMIT_BRANCH == "desarrollo"'
#     changes:
#       - front-end/**/*

deploy -front:
  stage: deploy
  image: 
    name: amazon/aws-cli:2.11.3
    entrypoint: ['']
  script:
    - aws --version
    - aws s3 sync --acl public-read front-end/build s3://$AWS_S3_BUCKET --delete
    # - aws s3 sync --acl public-read --delete ./front-end/build s3://$AWS_S3_BUCKET --region us-east-2 --exclude '.git/*'
  rules:
    - if: '$CI_COMMIT_BRANCH == "desarrollo"'
      changes:
        - front-end/**/*

pipeline front v2.3
  front-end/.gitignore
Due: build -front, deploy -front

SECURITY Roles v5 SecurityConfiguration
  back-end/src/main/java/com/example/proyectoIntegradorE8/security/SecurityConfiguration.java
Due: build -back, deploy -back

quita de console logs
  front-end/src/Components/AdminTable.jsx
  front-end/src/Components/Buscador.jsx
  front-end/src/Components/CardRecomendaciones.jsx
  front-end/src/Components/CiudadForm.jsx
  front-end/src/Components/Header.jsx
  front-end/src/Components/ImgComponent/ImgContainer.jsx
  front-end/src/Components/Menu.jsx
  front-end/src/Components/ProductoComponents/ProductoForm.jsx
  front-end/src/Components/RegisterForm.jsx
  front-end/src/Components/ReservasComponents/ReservaForm.jsx
  front-end/src/Components/Utils/api.js
  front-end/src/Rutas/Favoritos.jsx
  front-end/src/Rutas/Producto.jsx
Due: build -front, deploy -front

cambio api url
  front-end/src/Components/Utils/api.js
Due: build -front, deploy -front

solucion findbycategoriaIdAndFechas
  back-end/src/main/java/com/example/proyectoIntegradorE8/service/ProductoService.java
Due: build -back, deploy -back

quita de mas console log
  front-end/src/Components/Utils/api.js
  front-end/src/Components/Utils/utils.js
Due: build -front, deploy -front

pipeline front
  front-end/src/Components/Utils/api.js
Due: build -front, deploy -front

pipe
  .gitlab-ci.yml
  front-end/src/Rutas/Admin.jsx
Due: build -front, deploy -front

pipe
  back-end/src/main/resources/application.properties
Due: build -back, deploy -back

solucion a no creacion ciudad
  front-end/package.json
  front-end/src/Components/CiudadForm.jsx
Due: build -front, deploy -front

Favs arreglado
  front-end/src/Components/CardRecomendaciones.jsx
  front-end/src/Components/Utils/localStorage.js
  front-end/src/Rutas/Favoritos.jsx
Due: build -front, deploy -front

solucion a no creacion ciudad
  front-end/package.json
Due: build -front, deploy -front

mejoras de estilo
  front-end/src/Components/ProductoComponents/AddImagenForm.jsx
  front-end/src/Components/ProductoComponents/AtributoForm.jsx
  front-end/src/Components/ProductoComponents/ProductoForm.jsx
  front-end/src/styles.css
Due: build -front, deploy -front

trabajo sobre form producto
  front-end/src/Components/CardRecomendaciones.jsx
  front-end/src/Components/ProductoComponents/ProductoForm.jsx
Due: build -front, deploy -front

cambios de front para la demo
  front-end/src/Components/CardReco.jsx
  front-end/src/Components/CardRecomendaciones.jsx
  front-end/src/Components/ProductoComponents/AddImagenForm.jsx
  front-end/src/Components/ProductoComponents/AtributoForm.jsx
  front-end/src/Components/ProductoComponents/ProductoForm.jsx
  front-end/src/Components/Utils/utils.js
  front-end/src/Components/customHooks/useToggleState.jsx
  front-end/src/styles.css
Due: build -front, deploy -front

modificaciones back reserva user y admin
  back-end/src/main/java/com/example/proyectoIntegradorE8/security/SecurityConfiguration.java
Due: build -back, deploy -back

pipeline front
  front-end/src/Components/CardReco.jsx
Due: build -front, deploy -front

pipeline back
  back-end/src/main/java/com/example/proyectoIntegradorE8/security/SecurityConfiguration.java
Due: build -back, deploy -back

Cambio cancelar reserva + img post producto
  back-end/src/main/java/com/example/proyectoIntegradorE8/security/AuthCredentials.java
  back-end/src/main/java/com/example/proyectoIntegradorE8/security/Config/CorsConfig.java
  back-end/src/main/java/com/example/proyectoIntegradorE8/security/Config/WebSecurityConfig.java
  back-end/src/main/java/com/example/proyectoIntegradorE8/security/JWTAuthenticationFilter.java
  back-end/src/main/java/com/example/proyectoIntegradorE8/security/JWTAuthorizationFilter.java
  back-end/src/main/java/com/example/proyectoIntegradorE8/security/TokenUtils.java
  back-end/src/main/java/com/example/proyectoIntegradorE8/security/UserDetailServiceImpl.java
  front-end/src/Components/ProductoComponents/ProductoForm.jsx
Due: build -back, deploy -back, build -front, deploy -front

pipeline back
  back-end/src/main/java/com/example/proyectoIntegradorE8/ProyectoIntegradorE8Application.java
Due: build -back, deploy -back

cmbios css
  front-end/src/Components/Buscador.jsx
  front-end/src/Components/CardProducto.jsx
  front-end/src/Components/CardProductoContainer.jsx
  front-end/src/Components/Estrellas.jsx
  front-end/src/Components/ProductoComponents/AddImagenForm.jsx
  front-end/src/Components/ProductoComponents/ProductoForm.jsx
  front-end/src/Components/Recomendaciones.jsx
  front-end/src/Components/Vistas/AdminTable.jsx
  front-end/src/Components/Vistas/CiudadForm.jsx
  front-end/src/Components/Vistas/LoginForm.jsx
  front-end/src/Components/Vistas/ProductoForm.jsx
  front-end/src/Components/Vistas/RegisterForm.jsx
  front-end/src/Rutas/AdminTablePage.jsx
  front-end/src/Rutas/Favoritos.jsx
  front-end/src/Rutas/Home.jsx
  front-end/src/Rutas/Login.jsx
  front-end/src/Rutas/Register.jsx
  front-end/src/Rutas/ReservasUsuario.jsx
  front-end/src/styles.css
Due: build -front, deploy -front

modificaciones finales
  front-end/src/Components/Buscador.jsx
  front-end/src/Components/CardProducto.jsx
  front-end/src/Components/Recomendaciones.jsx
  front-end/src/Rutas/Producto.jsx
  front-end/src/styles.css
Due: build -front, deploy -front

cambio dir validacion
  front-end/package.json
  front-end/src/Components/CalendarComponent/CalendarContainer.jsx
  front-end/src/Components/Vistas/RegisterForm.jsx
Due: build -front, deploy -front

Create README.md
  README.md
Due: none

Update README.md
  README.md
Due: none
